{% extends 'base.html' %}
{% load static %}
{% load meus_filtros %}

{%block titulo%}De Para Pagamento{%endblock%}
{%block conteudo%}
<br>

    Municípios que pode ser usados na função:</br>

    EXTREMOZ, GARANHUNS , CAICO, MOSSORO, SAOGONCALO, OLINDA, PARNAMIRIM, CATOLEDOROCHA, CAMARAGIBE, 

    TANGARA, NISIAFLORESTA, CEARAMIRIM, ALEXANDRIA, SERRACAIADA</br></br>
    
    
    Municípios com a estrutura 'SIATTB(5)' diferente:</br>
    CABO, JARDIM DO SERIDÓ, JABOATÃO</br></br>

<h6>
    Essa opção fará a compensação progressiva de valores diversos e todas as parcelas pré-definidas, considerando
    principal corrigido e acréscimos. Será quitado do exercício/parcela mais antigo pra o mais recente, restando saldo
    devedor, se for o caso.
</h6>
<br>

<form method="post" action="#">
    {% csrf_token %}
    <div class="form-group">
        <label>NAMESPACE </label>
        <input type="text" required class="form-control" name="namespace"
               value="{{ request.POST.namespace }}">
    </div>
    <div class="form-group">
        <label>Sequencial</label>
        <input type="number" required class="form-control" name="sequencial"
               value="{{ request.POST.sequencial }}">
    </div>

    <button type="submit" class="btn btn-primary">Executar</button>
</form>


{%endblock%}