{% extends 'base.html' %}
{% load static %}
{% block titulo %}Página Inicial{% endblock %}
{% block conteudo %}
{% include 'parciais/_messages.html' %}

<div class="container mt-4">

  <!-- Seção Municípios -->
  <h3 class="text-center mb-3">Municípios</h3>
    <!-- Campo de busca -->
    <div class="mb-3 text-center">
    <input type="text" id="searchMunicipio" class="form-control w-50 d-inline" 
            placeholder="Digite o nome do município...">
    </div>

    <!-- Tabela de municípios -->
    <div class="table-responsive">
    <table class="table table-bordered text-center" id="municipiosTable">
      <tbody>
        <tr>
          <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'are' %}">Arez</a></td>
          <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'ban' %}">Bananeiras</a></td>
          <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'bel' %}">Belo Jardim</a></td>
          <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'cav' %}">Caiçara do Rio do Vento</a></td>
          <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'can' %}">Canguaretama</a></td>
        </tr>
        <tr>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'cre' %}">Campo Redondo</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'gal' %}">Galinhos</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'gav' %}">Georgino Avelino</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'goi' %}">Goiana</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'goh' %}">Goianinha</a></td>
        </tr>
        <tr>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'jds' %}">Jardim do Seridó</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'lda' %}">Lagoa D'Anta</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'laj' %}">Lajes</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'luc' %}">Lucena</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'ncr' %}">Nova Cruz</a></td>
        </tr>
        <tr>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'nis' %}">Nísia Floresta</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'oub' %}">Ouro Branco</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'pah' %}">Parelhas</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'par' %}">Parnamirim</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'pat' %}">Patu</a></td>
        </tr>
        <tr>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'pef' %}">Passa e Fica</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'pav' %}">Pedro Avelino</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'pve' %}">Pedro Velho</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'pur' %}">Pureza</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'rdf' %}">Rio do Fogo</a></td>
        </tr>
        <tr>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'scc' %}">Santa Cruz</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'sbn' %}">São Bento do Norte</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'smg' %}">São Miguel do Gostoso</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'sdm' %}">Serra do Mel</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'snn' %}">Serra Negra do Norte</a></td>
        </tr>
        <tr>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'sta' %}">Serra Talhada</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'sou' %}">Sousa</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'tdb' %}">Timbaúba dos Batistas</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'uir' %}">Uiraúna</a></td>
           <td><a class="btn btn-outline-primary w-100" href="{% url 'renomear' 'oli' %}">Olinda</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Seção Outras Funções -->
  <h3 class="text-center mt-5 mb-3">Outras Funções</h3>
  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <a href="{% url 'baixar_retorno_beta' %}" class="btn btn-light w-100">
        <img src="{% static 'img/logingmail.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Retorno">
        <br>Baixar Retorno (beta)
      </a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="{% url 'bb_sia_config' %}" class="btn btn-light w-100">
        <img src="{% static 'img/bb.png' %}" class="mb-2" style="width:50px; height:50px;" alt="BB_SIA">
        <br>Configuração do BB_SIA
      </a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="{% url 'globais_e_manuais' %}" class="btn btn-light w-100">
        <img src="{% static 'img/cache.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Globais">
        <br>Globais e Instruções
      </a>
    </div>
    <div class="col-md-6 mb-3">
      <a href="{% url 'juncao_agz' %}" class="btn btn-light w-100">
        <img src="{% static 'img/juncao.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Junção AGZ">
        <br>Junção AGZ<br>
        <small>Dias diferentes ficam no mesmo arquivo. Relatório CSV mostra total por dia.</small>
      </a>
    </div>
    <div class="col-md-6 mb-3">
      <a href="{% url 'juncao_agz_de_um_dia' %}" class="btn btn-light w-100">
        <img src="{% static 'img/juncao.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Junção AGZ por dia">
        <br>Junção AGZ por dia<br>
        <small>Une arquivos da mesma data.</small>
      </a>
      
    </div>


    <div class="col-md-6 mb-3">
      <a href="{% url 'estoque_divida_ativa_sao_jose_de_mipibu' %}" class="btn btn-light w-100">
        <img src="{% static 'img/sjm_logo.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Dívida Ativa São José de Mipibu">
        <br>Dívida Ativa São José de Mipibu<br>
        <small>Adiciona colunas no estoque da DA</small>
      </a>
      
    </div>

    <div class="col-md-6 mb-3">
      <a href="{% url 'mascarar_dados_para_portal_transparencia' %}" class="btn btn-light w-100">
        <img src="{% static 'img/sjm_logo.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Dívida Ativa São José de Mipibu">
        <br>Portal da Transparência<br>
        <small>Cria máscara e resume relatório gerado no SIAT</small>
      </a>
      
    </div>

  </div>

  <!-- Seção Automatização -->
    <h3 class="text-center mt-5 mb-3">Automatização no Chrome</h3>
    <div class="row text-center">
    <div class="col-md-4 mb-3">
        <a href="{% url 'listar_pagamentos' %}" class="btn btn-light w-100">
        <img src="{% static 'img/transf_pagamento.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Transferência">
        <br>Transferência de Pagamento: MDININ
        </a>
    </div>
    <div class="col-md-4 mb-3">
        <a href="{% url 'listar_global' %}" class="btn btn-light w-100">
        <img src="{% static 'img/salvar.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Salvar Globais">
        <br>Salvar Globais
        </a>
    </div>
    <div class="col-md-4 mb-3">
        <a href="{% url 'de_para_pagamento' %}" class="btn btn-light w-100">
        <img src="{% static 'img/de_para_pagamento.png' %}" class="mb-2" style="width:50px; height:50px;" alt="Compensação IPTU">
        <br>Compensação de IPTU
        </a>
    </div>
    </div>


</div>
<!-- Script para filtrar célula por célula -->
<script>
  document.getElementById("searchMunicipio").addEventListener("keyup", function() {
    let filter = this.value.toLowerCase();
    let cells = document.querySelectorAll("#municipiosTable tbody td");

    cells.forEach(cell => {
      let text = cell.textContent.toLowerCase();
      if (text.includes(filter)) {
        cell.style.display = "";   // mostra célula
      } else {
        cell.style.display = "none"; // esconde célula
      }
    });
  });
</script>
{% endblock %}
