{% extends 'base.html' %}
{% load static %}
{%block titulo%}Página Inicial{%endblock%}
{%block conteudo%}
{% include 'parciais/_messages.html' %}

<table class="table">
    <thead>
    <tr>
        <th colspan="4" style="text-align:center;"><br>
            A pasta 'c:/temp' deve estar criada no Windows
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
       <td>
           <a href="{% url 'renomear' 'are' %}">Arez</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'ban' %}">Bananeiras</a>
       </td>
       <td>
        <a href="{% url 'renomear' 'gav' %}">Georgino Avelino</a>
       </td>
       <td>
        <a href="{% url 'renomear' 'gal' %}">Galinhos</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'goi' %}">Goiana</a>
       </td>
    </tr>
    <tr>
       <td>
           <a href="{% url 'renomear' 'goh' %}">Goianinha</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'lda' %}">Lagoa D'Anta</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'luc' %}">Lucena</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'mta' %}">Messias Targino</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'nis' %}">Nísia Floresta</a>
       </td>
    </tr>
    <tr>
       <td>
           <a href="{% url 'renomear' 'pef' %}">Passa e Fica</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'pat' %}">Patu</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'pau' %}">Paulista</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'scc' %}">Santa Cruz do Capibaribe</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'sbn' %}">São Bento do Norte</a>
       </td>
       
    </tr>
    <tr>
       <td>
           <a href="{% url 'renomear' 'smg' %}">São Miguel do Gostoso</a>
       </td>
       <td>
           <a href="{% url 'renomear' 'snn' %}">Serra Negra do Norte</a>
       </td>
       <td>
        <a href="{% url 'renomear' 'tdb' %}">Timbaúba dos Batistas</a>
       </td>
       

   </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            <a href="{% url 'baixar_retorno2' %}">
                <img src="{% static 'img/logingmail.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Baixar retorno do email
            </a>
        </td>
    </tr>

    </tbody>

</table>

<table class="table">
    <thead>
    <tr>
        <th colspan="3" style="text-align:center;">Outras funções (automatização no Chrome)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="{% url 'iss_nisia' %}">
                <img src="{% static 'img/moeda.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Arrecadação de Nísia (+ISS)
            </a>
        </td>
        <td>
            <a href="{% url 'listar_pagamentos' %}">
                <img src="{% static 'img/transf_pagamento.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Transferência de Pagamento: MDININ
            </a>

        </td>
        <td>
            <a href="{% url 'transferencia_itbi' %}">
                <img src="{% static 'img/transf_itbi.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Transferência ITBI
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'listar_global' %}">
                <img src="{% static 'img/salvar.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Salvar Globais
            </a>
        </td>
        <td>
            <a href="{% url 'de_para_pagamento' %}">
                <img src="{% static 'img/de_para_pagamento.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Compensação de IPTU
            </a>
        </td>
        <td>
            <a href="{% url 'irrf_bananeiras' %}">
                <img src="{% static 'img/moeda.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                Arrecadação de Bananeiras (+IRRF)
            </a>
        </td>
    </tr>


    <tr>
        <td>
            <a href="{% url 'juncao_agz' %}">
                <img src="{% static 'img/juncao.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                     <br>Junção AGZ (localizados em C:\temp)<br>
                    Dias diferentes ficam no mesmo arquivo<br>
                    Um relatório em CSV mostrará o total por dia.
            </a>
        </td>
        <td>
            <a href="{% url 'alterar_iptu_nova_cruz' %}">
                <img src="{% static 'img/martelo.png' %}"
                     style="width:50px; height: 50px; margin-right: 10px;">
                     <br>IPTU - Nova Cruz<br>
                    Função pra alterar valor do IPTU
            </a>
        </td>

    </tr>



    </tbody>

</table>


{%endblock%}